In [1]:
import sqlite3
import pandas as pd

In [2]:
sqlite_file = 'data/database.sqlite'

In [3]:
def create_connection(db):
    """ connect to a sqlite database
    :param db: database file
    :return: a sqlite db connection object, 
      none if error
    """
    try:
        conn = sqlite3.connect(db)
        return conn
    except Error as e:
        print(e)
 
    return None

In [14]:
conn = create_connection(sqlite_file)

c = conn.cursor()

# print tables
c.execute("SELECT * FROM sqlite_master WHERE type='table';")

print(c.fetchall())

# print schema
c.execute("PRAGMA table_info('May2015')").fetchall()

[('table', 'May2015', 'May2015', 2, 'CREATE TABLE May2015(created_utc INTEGER, ups INTEGER, subreddit_id, link_id,  name, score_hidden, author_flair_css_class, author_flair_text, subreddit, id, removal_reason, gilded int, downs int, archived, author, score int, retrieved_on int, body, distinguished, edited, controversiality int, parent_id)')]

[(0, 'created_utc', 'INTEGER', 0, None, 0),
 (1, 'ups', 'INTEGER', 0, None, 0),
 (2, 'subreddit_id', '', 0, None, 0),
 (3, 'link_id', '', 0, None, 0),
 (4, 'name', '', 0, None, 0),
 (5, 'score_hidden', '', 0, None, 0),
 (6, 'author_flair_css_class', '', 0, None, 0),
 (7, 'author_flair_text', '', 0, None, 0),
 (8, 'subreddit', '', 0, None, 0),
 (9, 'id', '', 0, None, 0),
 (10, 'removal_reason', '', 0, None, 0),
 (11, 'gilded', 'int', 0, None, 0),
 (12, 'downs', 'int', 0, None, 0),
 (13, 'archived', '', 0, None, 0),
 (14, 'author', '', 0, None, 0),
 (15, 'score', 'int', 0, None, 0),
 (16, 'retrieved_on', 'int', 0, None, 0),
 (17, 'body', '', 0, None, 0),
 (18, 'distinguished', '', 0, None, 0),
 (19, 'edited', '', 0, None, 0),
 (20, 'controversiality', 'int', 0, None, 0),
 (21, 'parent_id', '', 0, None, 0)]

In [8]:
db = sqlite3.connect(sqlite_file)

sample = pd.read_sql_query("SELECT * FROM May2015 LIMIT 10", db)

sample

,created_utc,ups,subreddit_id,link_id,name,score_hidden,author_flair_css_class,author_flair_text,subreddit,id,...,downs,archived,author,score,retrieved_on,body,distinguished,edited,controversiality,parent_id
0,1430438400,4,t5_378oi,t3_34di91,t1_cqug90g,0,None,None,soccer_jp,cqug90g,...,0,0,rx109,4,1432703079,くそ\n読みたいが買ったら負けな気がする\n図書館に出ねーかな,None,0,0,t3_34di91
1,1430438400,4,t5_2qo4s,t3_34g8mx,t1_cqug90h,0,Heat,Heat,nba,cqug90h,...,0,0,WyaOfWade,4,1432703079,gg this one's over. off to watch the NFL draft...,None,0,0,t3_34g8mx
2,1430438400,0,t5_2cneq,t3_34f7mc,t1_cqug90i,0,None,None,politics,cqug90i,...,0,0,Wicked_Truth,0,1432703079,Are you really implying we return to those tim...,None,0,0,t1_cqufim0
3,1430438400,3,t5_2qh1i,t3_34f9rh,t1_cqug90j,0,None,None,AskReddit,cqug90j,...,0,0,jesse9o3,3,1432703079,No one has a European accent either because i...,None,0,0,t1_cqug2sr
4,1430438400,3,t5_2qh1i,t3_34fvry,t1_cqug90k,0,None,None,AskReddit,cqug90k,...,0,0,beltfedshooter,3,1432703079,"That the kid ""..reminds me of Kevin."" so sad...",None,0,0,t3_34fvry
5,1430438400,1,t5_31k9i,t3_34gitq,t1_cqug90l,0,None,None,bloodborne,cqug90l,...,0,0,Rubenticus,1,1432703079,"Haha, i was getting nauseous from it, if that ...",None,0,0,t1_cqug10q
6,1430438400,6,t5_2qjvn,t3_34fpen,t1_cqug90m,0,None,None,relationships,cqug90m,...,0,0,silverraven1189,6,1432703079,"After reading this, I wholeheartedly believe y...",None,0,0,t1_cqu8cmw
7,1430438400,2,t5_2s5fm,t3_34e7uq,t1_cqug90n,0,Titan3,None,Tennesseetitans,cqug90n,...,0,0,Scrubtanic,2,1432703079,Let's do this. See you guys on the other side.,moderator,0,0,t3_34e7uq
8,1430438400,6,t5_2r090,t3_34gcwh,t1_cqug90o,0,T10B10,[Philly],cigars,cqug90o,...,0,0,burnmyiz,6,1432703079,You can buy a mystery sampler from small batch...,None,0,0,t3_34gcwh
9,1430438400,5,t5_2sqho,t3_34gmag,t1_cqug90p,0,fan vp,Virtus.pro Fan,GlobalOffensive,cqug90p,...,0,0,BEE_REAL_,5,1432703079,Nihilum and LG are significantly better off in...,None,0,0,t3_34gmag

In [15]:
top_subreddits = pd.read_sql_query("SELECT subreddit, COUNT(*) FROM May2015 GROUP BY 1 ORDER BY 2 DESC LIMIT 10", db)

top_subreddits

         subreddit  COUNT(*)
0        AskReddit   4234970
1  leagueoflegends   1223184
2              nba    756195
3            funny    745916
4             pics    630925
5              nfl    566656
6     pcmasterrace    557307
7           videos    556065
8             news    548287
9    todayilearned    519910

In [23]:
body_samples = pd.read_sql_query("SELECT body FROM May2015 LIMIT 10", db)

body_samples

                                                body
0                    くそ\n読みたいが買ったら負けな気がする\n図書館に出ねーかな
1  gg this one's over. off to watch the NFL draft...
2  Are you really implying we return to those tim...
3  No one has a European accent either  because i...
4  That the kid "..reminds me of Kevin."   so sad...
5  Haha, i was getting nauseous from it, if that ...
6  After reading this, I wholeheartedly believe y...
7     Let's do this. See you guys on the other side.
8  You can buy a mystery sampler from small batch...
9  Nihilum and LG are significantly better off in...